html, body {
    background-image: url(https://img.freepik.com/free-vector/white-background-with-blue-tech-hexagon_1017-19366.jpg?size=626&ext=jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3%;
    text-align: center;
}
.container {
    background-color: rgb(158, 210, 223);
    padding: 5%;
    height: 100%;
    border: 8px solid rgb(243, 199, 6);
}
.jumbotron {
    height: 100%;
}
h1 {
    font-family: 'Cinzel', serif;
    font-size: 70px;
    color: rgb(21, 114, 131);
    text-shadow: 1px 1px 2px rgb(3, 3, 3), 0 0 25px rgb(166, 211, 224), 0 0 5px rgb(18, 100, 141);

}
button {
    background-color: rgb(255, 208, 0);
    height: 80px;
    width: 250px;
    font-family: 'Unica One', cursive;
    font-size: 35px;
    color:rgb(23, 78, 94);
}
/* 
font-family: 'Cinzel', serif;
font-family: 'Unica One', cursive;
font-family: 'Staatliches', cursive;
font-family: 'Coda', cursive; */